*{
    margin: 0;
    padding: 0;
}
html{
  scroll-behavior: smooth;
}
.logo{
  height: 70px;
  width:80px;
}

.nb{
    background-color:rgba(0, 153, 255, 0.9);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    font-size: 18px;
    font-family:sans-serif;
    text-transform: uppercase;
    color: white;
}
.nb li a:hover{
    background-color:#33CCFF ;
    color:#002835 ;     
     box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.para{
    line: height 50px;px;
    font-size:28px;
    font-weight:400;
}

.para1{
    line-height:26px;
    font-size:16px;
    font-weight:400;
}
h1{
    
    color: rgba(0, 153, 255, 0.9);
    margin-top: 50px;
    font-size:50px;
}
marquee{
    margin-top: 150px;
    font-size: 28px;
    text-transform: uppercase;
    font-family:'Times New Roman', Times, serif ;
    font-weight: bold;
    color: rgb(139,0,0);
}
.booking{
    font-size: 22px;
    margin-top: 30px;
}
ul {list-style-type: none;}

/* Month header */
.month {
  padding: 70px 25px;
  width: 100%;
  height: 100px;
  background:rgb(100,149,237);
  text-align: center;
}

/* Month list */
.month ul {
    margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
  float: left;
  padding-top: 10px;
}

/* Next button */
.month .next {
  float: right;
  padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color:#ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

/* Days (1-31) */
.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

/* Highlight the "current" day */
.days li .active {
  padding: 5px;
  background:#33CCFF;
  color: white !important
}

.iconnn{
  height: 50px;
  width: 50px;
  margin-top:20px;

}
.btn{
  height:auto;
  width:auto;
  background-color: #002835;
  color: #fff;
}
.btn:hover{
  opacity: 0.5;
  color: #fff;
}
H6{
  color:rgba(0, 153, 255, 0.9);
}
.ftr{
  background-color: rgba(0, 153, 255, 0.9);
  color: #002835;
}
footer p{
  color: #002835;
}

.dropdown-menu.show {
  padding: 0px;
}

i {
  padding-right: 4px;
}

.ftr a.text-reset {
  background-color: black;
  margin: 0px 4px;
  height: 30px;
  width: 30px;
  color: #18a2ff !important;
  display: inline-flex;
  justify-content: center;
  border-radius: 20px;
  align-items: center;
  text-decoration: none;
  border: 2px solid transparent;
  transition: .2s all;
}

.ftr a.text-reset:hover {
  background-color: #18a2ff;
  color: black !important;
  border: 2px solid black;
}

.ftr a.text-reset i {
  padding-right: 0px !important;
}

a#top {
  position: absolute;
  bottom: 5%;
  right: 0px;
  background-color: black;
}

a.back-top {
  position: sticky;
  top: 90%;
  left: 30px;
  background: black;
  display: flex;
  height: 40px;
  width: 40px;
  text-align: center;
  vertical-align: middle;
}

.ftr span {
  font-size: 1.3rem;
  text-transform: capitalize;
}

footer h6 {
  text-align: left;
  color: #18a2ff;
}

footer p {
  text-align: left;
}

.main img {
  border: 1px solid #00000017;
  padding: 4px;
  border-radius: 2px;
}

.para {
  line-height: 40px;
  font-size: 16px;
  font-weight: 400;
  font-family: sans-serif;
}





/* All styles in 1 stylesheet or atmost 2 */